# Example config for a MT631
logging:
  level: INFO                    # Log level
  file: sml2mqtt.log             # Log file path (absolute or relative to config file)

mqtt:
  connection:
    client id: sml2mqtt
    host: 192.168.178.209
    port: 1883
    user: ''
    password: ''
    tls: false
    tls insecure: false
  defaults:
    qos: 0
    retain: false
  last will:
    topic: status
    retain: false

ports:
- url: /dev/ttyUSB0
  timeout: 3

general:
  device id obis: 0100600100ff

# to get the server id run sml2mqtt with a -a/--analyze
devicesh:
  0a0149534b0005261f2d:
    mqtt:
      topic: 'MT631'
    values:

      0100010800ff:
        mqtt:
          topic: 'Consumption-total-kWh'
        filters:
          - diff: 0.0001
        workarounds:
          - negative on energy meter status: False

      0100100700ff:
        mqtt:
          topic: 'Power-w'
        filters:
          - every: 10

      0100020800ff:
        mqtt:
          topic: 'Production-total-kWh'
        filters:
          - diff: 0.0001
        workarounds:
          - negative on energy meter status: False

